#header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
  margin: 10px;
}
.nav-items {
  padding: 20px;
}
.nav-items > ul {
  display: flex;
}
.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
}
.restaurant-card {
  width: 200px;
  height: 350px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}
.restaurant-card:hover {
  background-color: lightblue;
  border: 1px solid black;
  cursor: pointer;
}
.search {
  margin-bottom: 20px;
  margin-top: 20px;
}
.card {
  gap: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}
